name: Build Kernel Fuxi

on:
  workflow_dispatch:
    inputs:
      KERNEL_SOURCE:
        description: 'Link Source Kernel'
        required: true
        default: 'https://github.com/DinhQuangDoi/android_kernel_xiaomi_sm8550.git'
      KERNEL_BRANCH:
        description: 'Branch'
        required: true
        default: '16.2-SukiSU'

jobs:
  Build-Kernel:
    runs-on: ubuntu-latest
    permissions: write-all
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential bc cpio llvm clang bison flex libssl-dev libfl-dev \
            curl git wget libarchive-tools python-is-python3 zip unzip tar gzip \
            gcc-aarch64-linux-gnu gcc-arm-linux-gnueabi

      - name: Clone Kernel Source
        run: |
          git clone --recursive --depth=1 ${{ github.event.inputs.KERNEL_SOURCE }} -b ${{ github.event.inputs.KERNEL_BRANCH }} kernel
          cd kernel
          sed -i '/KernelSU/d' .gitmodules 2>/dev/null || true
          rm -rf KernelSU .git/modules/KernelSU 2>/dev/null || true
          git submodule update --init --recursive --depth 1 || true

      - name: Compile Kernel
        run: |
          cp -f ${{ github.workspace }}/arch/arm64/configs/fuxi_defconfig ${{ github.workspace }}/kernel/arch/arm64/configs/
          mkdir -p ${{ github.workspace }}/kernel/arch/arm64/configs/vendor/
          cp -f ${{ github.workspace }}/arch/arm64/configs/vendor/susfs.config ${{ github.workspace }}/kernel/arch/arm64/configs/vendor/
          
          cd ${{ github.workspace }}/kernel
          
          export ARCH=arm64
          export SUBARCH=arm64
          export TARGET_PRODUCT=fuxi
          MAKE_PARAMS="LLVM=1 LLVM_IAS=1 O=out"

          cat arch/arm64/configs/vendor/susfs.config >> arch/arm64/configs/fuxi_defconfig
          
          make $MAKE_PARAMS fuxi_defconfig
          make $MAKE_PARAMS Image -j$(nproc --all)

      - name: Upload Release
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ github.workspace }}/kernel/out/arch/arm64/boot/Image
          tag_name: ${{ github.run_id }}
          body: |
             Build Date: $(date)
             Source: ${{ github.event.inputs.KERNEL_SOURCE }}
             Branch: ${{ github.event.inputs.KERNEL_BRANCH }}
             
