name: Build Kernel Fuxi

on:
  workflow_dispatch:
    inputs:
      KERNEL_SOURCE:
        description: 'Link Source Kernel'
        required: true
        default: 'https://github.com/DinhQuangDoi/android_kernel_xiaomi_sm8550.git'
      KERNEL_BRANCH:
        description: 'Branch'
        required: true
        default: '16.2-SukiSU'

jobs:
  Build-Kernel:
    runs-on: ubuntu-latest
    permissions: write-all
    
    steps:
      - name: Cleanup & Install Dependencies
        run: |
          rm -rf ${{ github.workspace }}/*
          sudo apt-get update
          sudo apt-get install -y build-essential bc lld cpio llvm bison flex libssl-dev libfl-dev \
            curl git wget libarchive-tools python-is-python3 zip unzip tar gzip \
            gcc-aarch64-linux-gnu

      - name: Install Clang
        run: |
          sudo apt-get install -y clang llvm
          clang --version
          llvm-strip --version

      - name: Clone Kernel Source
        run: |
          echo "--- Cloning Kernel ---"
          git clone ${{ github.event.inputs.KERNEL_SOURCE }} -b ${{ github.event.inputs.KERNEL_BRANCH }} kernel --depth 1
          cd kernel
          
          # Remove invalid KernelSU submodule if exists
          sed -i '/KernelSU/d' .gitmodules 2>/dev/null || true
          rm -rf KernelSU 2>/dev/null || true
          rm -rf .git/modules/KernelSU 2>/dev/null || true
          
          git submodule update --init --recursive --depth 1 || true

      - name: Compile Kernel
        run: |
          cd ${{ github.workspace }}/kernel
          
          export ARCH=arm64
          export SUBARCH=arm64
          export TARGET_PRODUCT=fuxi

          MAKE_PARAMS="LLVM=1 LLVM_IAS=1 O=out"
          make $MAKE_PARAMS fuxi_defconfig -j$(nproc --all)
          ./scripts/kconfig/merge_config.sh -m -O out out/.config vendor/susfs.config
          make $MAKE_PARAMS olddefconfig
          make $MAKE_PARAMS Image -j$(nproc --all)

      - name: Upload Release
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ github.workspace }}/kernel/out/arch/arm64/boot/Image
          tag_name: ${{ github.run_id }}
          body: |
             Build Date: $(date)
             Source: ${{ github.event.inputs.KERNEL_SOURCE }}
