name: Build Kernel Fuxi

on:
  workflow_dispatch:
    inputs:
      KERNEL_SOURCE:
        description: 'Link Source Kernel'
        required: true
        default: 'https://github.com/DinhQuangDoi/android_kernel_xiaomi_sm8550.git'
      KERNEL_BRANCH:
        description: 'Branch'
        required: true
        default: '16.2-SukiSU'

jobs:
  Build-Kernel:
    runs-on: ubuntu-latest
    permissions: write-all
    
    steps:
      - name: Cleanup & Install Dependencies
        run: |
        
          rm -rf ${{ github.workspace }}/*
          sudo apt-get update
          sudo apt-get install -y build-essential bc lld cpio llvm bison flex libssl-dev libfl-dev \
            curl git wget libarchive-tools python-is-python3 zip unzip tar gzip \
            gcc-aarch64-linux-gnu

      - name: Install Clang
        run: |
        
          sudo apt-get install -y clang llvm
          clang --version
          llvm-strip --version

      - name: Clone Kernel Source
        run: |
        
          echo "--- Cloning Kernel ---"
          git clone ${{ github.event.inputs.KERNEL_SOURCE }} -b ${{ github.event.inputs.KERNEL_BRANCH }} kernel --depth 1
          cd kernel
          
          # Remove invalid KernelSU submodule if exists
          sed -i '/KernelSU/d' .gitmodules 2>/dev/null || true
          rm -rf KernelSU 2>/dev/null || true
          rm -rf .git/modules/KernelSU 2>/dev/null || true
          
          git submodule update --init --recursive --depth 1 || true

      - name: Compile Kernel
        run: |
        
          # 1. Copy file fuxi_defconfig đã mod của bạn đè vào source kernel vừa clone
          cp -f ${{ github.workspace }}/arch/arm64/configs/fuxi_defconfig ${{ github.workspace }}/kernel/arch/arm64/configs/
      
          # 2. Tạo thư mục vendor và copy file susfs.config vào source kernel
          mkdir -p ${{ github.workspace }}/kernel/arch/arm64/configs/vendor/
          cp -f ${{ github.workspace }}/arch/arm64/configs/vendor/susfs.config ${{ github.workspace }}/kernel/arch/arm64/configs/vendor/
      
          # 3. cd vào thư mục kernel để bắt đầu build
          cd ${{ github.workspace }}/kernel
      
          export ARCH=arm64
          export SUBARCH=arm64
          export TARGET_PRODUCT=fuxi

          MAKE_PARAMS="LLVM=1 LLVM_IAS=1 O=out"
      
          # 4. Nối cấu hình SuSFS vào defconfig (Lúc này file chắc chắn đã tồn tại đúng chỗ)
          cat arch/arm64/configs/vendor/susfs.config >> arch/arm64/configs/fuxi_defconfig
      
          # 5. Chạy Make (Không dùng -j ở bước tạo defconfig)
          make $MAKE_PARAMS fuxi_defconfig
      
          # 6. Build Kernel
          make $MAKE_PARAMS Image -j$(nproc --all)

      - name: Upload Release
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ github.workspace }}/kernel/out/arch/arm64/boot/Image
          tag_name: ${{ github.run_id }}
          body: |
             Build Date: $(date)
             Source: ${{ github.event.inputs.KERNEL_SOURCE }}
